Cython==0.29.35
joblib==1.2.0
numpy==1.25.0 # for data processing, math functions
packaging==23.1
pandas==2.0.2 # for dataframes, dataset reading, datetime conversions
patsy==0.5.3
pmdarima==2.0.3 # automatic estimation of p,d,q in ARIMA
python-dateutil==2.8.2 # date functionalities
pytz==2023.3
scikit-learn==1.2.2 # clustering for data reduction in scatterplot
scipy==1.10.1
six==1.16.0
statsmodels==0.14.0 # all time series properties, statistical tests, decomposition, models, etc.
threadpoolctl==3.1.0
tzdata==2023.3
urllib3==2.0.3
